[submodule "6/devops-ci-module"]
	path = 6/devops-ci-module
	url = https://gitlab.com/shapka.pa/devops-ci-module.git
[submodule "6/devops-ci-app"]
	path = 6/devops-ci-app
	url = https://gitlab.com/shapka.pa/devops-ci-app.git
